@import "tailwindcss";
@theme {
  --font-syne: var(--font-syne), sans-serif;
  --font-spaceg: var(--font-spaceg), sans-serif;
  --font-jakarta: var(--font-jakarta), sans-serif;
}
@layer base {
    h1, h3 {
        font-family: var(--font-syne), sans-serif;
    }
    h2 {
        font-family: var(--font-spaceg), sans-serif;
    }
    p {
        font-family: var(--font-jakarta), sans-serif;
    }
}